.radio {


}

.radio::before {

}


.radio:checked::before {

}

.label {
    display: flex;
}

.options {
}

.span {
    margin-left: 10px;
    margin-bottom: 5px;
    color: #0066cc;
    font-weight: 700;
}
