.select {
  width: 180px;
  height: 30px;

  font-weight: 700;
  color: #0066cc;

  border: 3px dashed #0066cc;
  border-radius: 10px;
}

.select:focus {
  outline: none;
}

.option {
}

.option:hover {
}
