.block {
    width: 440px;
    margin: 50px auto 0 auto
}
.title {
    margin-bottom: 50px;

    text-align: center;
}
.question {
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: 700;

    opacity: 1;
}
.questionText {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 18px;
}